body,
html {
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#canvas,
#background-canvas {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  image-rendering: pixelated;
}
