body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #000316;
}

#canvas,
#background-canvas,
#pipes-canvas,
#score-canvas,
#ground-canvas {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  image-rendering: pixelated;
}
